.Aayush-centerheader {
  text-align: center;
  background-color: white;
  
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.profile-pic {
  border-radius: 50%;
}
#Aayush-about{
  background-color: 
}
.item1 {
  background-color:green;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
